{{> header title='FAQ | ' style1='<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/obsidian.min.css">' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Adoptium Frequently Asked Questions</h1>

  <div class="align-left support">

    <p>
       We are currently working through our first release of Eclipse Temurin and
       will be updating this FAQ as and when things are completed and available.
       If you want to talk to us or ask additional questions the best place is
       <a href="https://adoptium.net/slack.html">our slack instance</a> or via an
       issue in the <a href="https://github.com/adoptium/adoptium-support">support
       channel</a> if your question is not covered by one of the entries below.
    </p>

    <div class="anchor">
      <a href="#whereAreJDKs" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="whereAreJDKs">Where are the latest JDKs?</a></h2>
    </div>
    <div class="margin-bottom"> <p>
       Most of the Eclipse Temurin builds with HotSpot for 8u302-b08, 11.0.12+7 and 16.0.2+7 are now available. Some
       builds are not yet ready but we are working hard to get them ready.
       You can follow progress via that table in
       <a href="https://github.com/adoptium/adoptium/issues/68">adoptium#68</a>
       for the current status of each platform/version combination.
    </p></div>

    <div class="anchor">
      <a href="#whyDelay" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="whyDelay">Why the delay compared to upstream OpenJDK?</a></h2>
    </div>
    <div class="margin-bottom"> <p>
       Unlike some of the releases which were performed at AdoptOpenJDK the
       team is performing additional testing with brand new infrastructure
       in order to be able to release
       <a href="https://openjdk.java.net/groups/conformance/JckAccess">TCK</a>-compatible
       JDKs which means it is taking longer than usual to complete the
       release cycle. We are unable to release on any individual
       platform/version combination until this is complete.  Please bear
       with us - we are working very hard behind the scenes to make this
       happen and the experiences we have gained should make the process
       much quicker on future cycles.
    </p></div>

    <div class="anchor">
      <a href="#AdoptOpenJDK" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="AdoptOpenJDK">What happened to AdoptOpenJDK?</a></h2>
    </div>
    <div class="margin-bottom"> <p>
       <strong>Short answer:</strong> The project got so big that we chose to
       <a href="https://projects.eclipse.org/projects/adoptium">move under the Eclipse
       Foundation</a> as
       <a href="https://blog.adoptopenjdk.net/2020/06/adoptopenjdk-to-join-the-eclipse-foundation/">
       announced last year</a> to provide us some additional stability for the future!
    </p>
    <p>
      <strong>Longer answer:</strong> The builds you know as AdoptOpenJDK are now
      "Eclipse Temurin by Adoptium"
      (<a href="https://blog.adoptium.net/2021/08/adoptium-celebrates-first-release/">release
      blog post</a>) Don't worry though - despite the branding changes it
      is the same open build processes, AQAvit test suites and primarily the same team
      producing them as before, but there are
      <a href="https://adoptium.net/members.html">more larger companies</a>
      now involved in the working group.
    </p></div>

    <div class="anchor">
      <a href="#temurinName" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="temurinName">What is this "Eclipse Temurin"
      name?</a></h2>
    </div>
    <div class="margin-bottom"><p>
        This is the project and brand name for the binaries that the Eclipse
        Foundation produces.  You can think of these as the successor
        binaries to AdoptOpenJDK.  However, it is important to note that
        these binaries are just one of many that will eventually be in the
        <a href="https://github.com/adoptium/adoptium/issues/7">
        Eclipse Adoptium Marketplace</a>.  While we appreciate that the
        Adoptium/Temurin name split is more confusing that just “Adoptium”,
        this is similar to how other vendors brand their binaries, e.g. 
        Amazon has Corretto, Azul has Zulu (and others).  The “Adoptium”
        project and working group will deal with more than just Temurin so
        the distinction is important to maintain.
    </p></div>

    <div class="anchor">
      <a href="#jres" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="jres">Where are the JREs?</a></h2>
    </div>
    <div class="margin-bottom"><p>
      We have already released most of the JREs for JDK8 but naturally
      prioritised the full JDKs before doing those.  For JDK11+ we would
      generally recommend using jlink (see the 
      <a href="https://bugs-stage.openjdk.java.net/browse/JDK-8200132">upstream
      openjdk changes to stop building JREs by default</a>) but despite that
      statement we are currently aiming to release them for 11 as well for
      continuity.  We do not plan to do so for JDK16 and above.  See
      <a href="https://github.com/adoptium/temurin-build/issues/2683">this
      issue</a> for discussion on the topic.
    </p></div>
    
    <div class="anchor">
      <a href="#semeru" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="semeru">Where are the OpenJ9 builds?</a></h2>
    </div>
    <div class="margin-bottom"><p>
       The transition to Adoptium means we have unfortunately not been able
       to continue to distribute builds of Eclipse OpenJ9.  IBM has now
       taken them over and they are now available as "<a
       href="https://developer.ibm.com/languages/java/semeru-runtimes/">IBM
       Semeru</a>". There is no need to be concerned about the change - it
       is still free.
    </p></div>

    <div class="anchor">
      <a href="#dockerImages" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="dockerImages">Where are the docker images?</a></h2>
    </div>
    <div class="margin-bottom"><p>
       Due to the limited amount of people we have working on the project,
       maintaining the wide variety of docker images that we provided from
       AdoptOpenJDK was becoming unsustainable.  For that reason we are
       releasing a cut down set of docker images for Temurin.  For those
       users who want a containerised Linux distribution that we don't
       provide an image for, use
       <a href="https://blog.adoptium.net/2021/08/using-jlink-in-dockerfiles/">
       this guide</a>.
    </p></div>

    <div class="anchor">
      <a href="#linuxPackages" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="linuxPackages">Where are the Linux rpm/deb packages?</a></h2>
    </div>
    <div class="margin-bottom"><p>
       We are working on a solution for that at the moment with
       <a href="https://github.com/adoptium/installer/issues/330">this
       issue</a> as an umbrella for the work
    </p></div>

    <div class="anchor">
      <a href="#alpineBuilds" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="alpineBuilds">What about Alpine Linux builds?</a></h2>
    </div>
    <div class="margin-bottom"><p>
       This topic is something that has generated a bit of conversation
       recently. We are currently considering our option but are leaning
       towards headless musl-based builds for the JDK17 LTS release. If you
       want to provide any input to that decision-making process, please get
       involved in
       <a href="https://github.com/adoptium/containers/issues/1">containers#1</a>
    </p></div>

    <div class="anchor">
      <a href="#apiContinuity" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="apiContinuity">Will the migration break my API links?</a></h2>
    </div>
    <div class="margin-bottom"><p>
       There is a
       <a href="https://api.adoptium.net/q/swagger-ui/">new download API</a>
       provided by Adoptium for downloading Eclipse Temurin builds.
    </p><p>
       The good news is that it looks very like the AdoptOpenJDK one did so
       migration isn't too difficult for anyone currently using it.￼
       <strong>At present</strong> the AdoptOpenJDK API will redirect to
       Temurin (or Semeru) if available when you request the latest release
       builds.  We have done this because we haven't had time to encourage
       the community to fully migrate and because we haven't released
       everything yet so there are missing builds in the Adoptium API. Note
       that <strong>this will be a temporary measure</strong> and the
       AdoptOpenJDK API is not expected to be retained forever to do this
       although the timescale for removing the redirection is still to be
       decided.
    </p></div>

    <div class="anchor">
      <a href="#talkToUs" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="talkToUs">Can you give a talk on the project?</a></h2>
    </div>
    <div class="margin-bottom"><p>
       The people involved in the project are passionate about promoting it
       and we are keen to find ways to promote the work we do at Adoptium
       and with the Temurin binaries so feel free to get in touch with us if
       you have a forum you wish us to participate in and we will see what
       we can do.  In general contacting the team via Slack is the best way
       to engage with us.
    </p></div>

    <div style="margin-top: 3rem;">
      <!--
      <a href="https://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" id="dev-button" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Mailing List&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      -->
      <a href="./supported_platforms.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Supported Platforms&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/adoptium/adoptium-support/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.5/platform.min.js"></script>' script2='<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>' script3='<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>' }}
