{{> header title='Migration Guide | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Migration Guide</h1>

  <div class="align-left support">

    <div class="anchor">
      <a href="#migration-overview" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="migration-overview">Migrating to Adoptium</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        If you are moving from Oracle JDK to OpenJDK from the Adoptium project, you'll probably have a few key questions on your mind. Firstly,
        you'll want to know what the differences are between Oracle JDK and Adoptium and whether there are any steps you need to take to migrate.
        The answers to common questions around these choices are covered in the sections that follow.
      </p>
      {{!-- <p>To understand which platforms are supported, see the <a href="./supported_platforms.html">Platform Support Matrix</a>.</p> --}}
    </div>

    <div class="anchor">
      <a href="#migration-oracle" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="migration-oracle">Migrating from Oracle JDK</a></h2>
    </div>
    <div class="margin-bottom">
      <p>The following table illustrates the proprietary components that can be found in Oracle JDK 8 and the alternative technologies that are either planned
      or available to replace them. Click on the links to learn more about each component and any steps that might be necessary to adopt them.</p>
      <table>
        <thead>
          <tr>
            <th>Oracle JDK 8 proprietary component</th>
            <th>Alternative component</th>
            <th>OpenJDK 8</th>
            <th>OpenJDK 11</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Java Web Start</td>
            <td><a href="#icedtea-web">IcedTea-Web</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span></td>
          </tr>
          <tr>
            <td>JavaFX</td>
            <td><a href="#openjfx">OpenJFX</a></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">no</span></td>
          </tr>
          <tr>
            <td>T2K font rendering engine</td>
            <td><a href="#freetype-font-rendering-library">Freetype</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
          </tr>
          <tr>
            <td>Monotype Lucida fonts</td>
            <td><a href="#relicensed-lucida-fonts">Relicensed Lucida fonts</a></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
          </tr>
          <tr>
            <td>Ductus 2D renderer</td>
            <td><a href="#pisces-and-marlin">Pisces/Marlin</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (Pisces)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (Marlin)</td>
          </tr>
          <tr>
            <td>Kodac Color Matching System (KCMS) library</td>
            <td><a href="#lcms">LCMS</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
          </tr>
          <tr>
            <td>SNMP</td>
            <td>Use <a href="#jmx">JMX</a> (or SNMP4J)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (not bundled)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (not bundled)</td>
          </tr>
          <tr>
            <td>Sound drivers</td>
            <td>Use <a href="#windows-sound-drivers">Windows sound drivers</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (not bundled)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (not bundled)</td>
          </tr>
          <tr>
            <td>Java Flight Recorder (JFR)</td>
            <td><a href="#java-flight-recorder">Java Flight Recorder</a></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
          </tr>
          <tr>
            <td>Java Mission Control (JMC)</td>
            <td>Use <a href="#jdk-mission-control">JDK Mission Control</a></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
          </tr>
        </tbody>
      </table>
      <p>
        <i class="fa fa-pencil" aria-hidden="true"></i><span class="sr-only">Note:</span> JavaFX, JFR, and JMC were all contributed
        by Oracle to the OpenJDK project for releases after Java 8.
      </p>

      <h3 id="openjfx">OpenJFX</h3>

      <p>Back in 2017, JavaFX was decoupled from the Oracle JDK and contributed to the OpenJDK community. The OpenJFX community is focused on OpenJFX 11+ and provides binaries that you can use with Adoptium.</p>
      <p>OpenJFX 8 is no longer being actively maintained. If you need this capability, we recommend upgrading to OpenJFX 11.</p>
      <p>For more information, read the <a href="./faq.html#openjfxfaq">OpenJFX FAQ</a>.</p>

      <h3 id="freetype-font-rendering-library">Freetype font rendering library</h3>

      <p>OpenJDK uses the open source FreeType font rendering library instead of the proprietary T2K font library.</p>

      <h3 id="relicensed-lucida-fonts">Relicensed Lucida fonts</h3>

      <p>The Lucida fonts that are available in Oracle JDK 8 have a proprietary 3rd party license. Adoptium intend to provide relicensed Lucida fonts. Work is ongoing to minimize any display issues when these fonts are rendered by Freetype.</p>

      <h3 id="pisces-and-marlin">Pisces and Marlin</h3>

      <p>Oracle JDK 8 uses a proprietary 2D graphics renderer called Ductus, whereas OpenJDK uses an open-source renderer called Pisces. From OpenJDK 9,
      the Marlin renderer is in use. Work is planned at Adoptium to either backport Marlin to OpenJDK 8 and/or minimize any display issues between the two.</p>

      <h3 id="lcms">LCMS</h3>

      <p>OpenJDK uses the Little Color Matching System (LCMS) open source open source library instead of the proprietary Kodac CMS library.</p>

      <h3 id="jmx">JMX</h3>

      <p>The proprietary SNMP package shipped with Oracle JDK 8 is not present in OpenJDK. Use JMX as an alternative, or SNMP4J. These packages are
      not bundled with the Adoptium binaries.</p>

      <h3 id="windows-sound-drivers">Windows sound drivers</h3>

      <p>Oracle JDK provides native sound drivers for Java 8 on Windows, which are not present in OpenJDK. Use the sound drivers that are available
      with Microsoft Windows instead.</p>

      <h3 id="java-flight-recorder">Java Flight Recorder</h3>

      <p>Java Flight Recorder (JFR) was decoupled from the Oracle JDK and contributed to the OpenJDK community. Work is underway to backport JFR from OpenJDK 11 to OpenJDK 8. When this work is complete, Adoptium will include JFR in OpenJDK 8 binaries.</p>

    </div>

    <div style="margin-top: 3rem;">
      <a href="./supported_platforms.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Supported Platforms&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/adoptium/temurin-build/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }}
