{{> header title='Release Notes | ' }}

<!-- TODO Style should match installation page, it doesn't quite do this... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Release Notes</h1>

  <div class="align-left support">

    <p>We're currently working out our faq page. Please check back later!</p>

    {{!--<div class="anchor">
      <a href="#introduction" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="introduction">Introduction</a></h2>
    </div>
    <div class="margin-bottom">
      <h3>OpenJDK Release Notes</h3>
      <p>
        OpenJDK 8u212-b03 and 11.0.3+7 were the first non-Oracle led OpenJDK releases,
        their release notes are listed below. For release notes prior to 8u212-b03 and
        11.0.3+7 please refer to the Oracle website.

        More recently we've been swapping to showing the release notes hosted by
        <a href="https://foojay.io" target="_blank">foojay.io</a>, an open source
        community around OpenJDK topics that is from one of our sponsors, Azul Systems.
      </p>
    </div>

    <div class="anchor">
      <a href="#jdk8u272" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><button type="button" onclick="showHideReleaseNotes('jdk8u272_notes');">-/+</button> <a id="jdk8u272">OpenJDK 8u272 (1.8.0_272-b10)</a></h2>
      <h3 style="text-align: center;">(<a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u272-b10/OpenJDK8U-sources_8u272b10.tar.gz">Upstream Source Tarball OpenJDK 8u272-b10</a>)</h3>
    </div>
    <div class="margin-bottom softHide" id="jdk8u272_notes">
      For 8u272 fixes see <a href="https://foojay.io/java-8/?quarter=102020&tab=allissues" target="_blank">Combined CVE and JDK bug view</a> at foojay.io.
      Please note you may not have permission to click through to the JBS bug itself, in which case you'll need to read the CVE directly.
    </div>

    <div class="anchor">
      <a href="#jdk8u252" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><button type="button" onclick="showHideReleaseNotes('jdk8u252_notes');">-/+</button> <a id="jdk8u252">OpenJDK 8u252 (1.8.0_252-b09)</a></h2>
      <h3 style="text-align: center;">(<a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u252-b09/OpenJDK8U-sources_8u252b09.tar.gz">Upstream Source Tarball OpenJDK 8u252-b09</a>)</h3>
    </div>
    <div class="margin-bottom softHide" id="jdk8u252_notes">

      You can check the details of these bugs using the <a href="https://bugs.openjdk.java.net/browse/JDK-8227806?jql=project%20%3D%20JDK%20AND%20fixVersion%20%3D%20openjdk8u252%20ORDER%20BY%20created%20DESC" target="_blank">8u252</a> Fix Version filter in the JDK Bug System.

      <h3>Security fixes</h3>
      <ul>
        <li>JDK-8223898, CVE-2020-2754: Forward references to Nashorn</li>
        <li>JDK-8223904, CVE-2020-2755: Improve Nashorn matching</li>
        <li>JDK-8224541, CVE-2020-2756: Better mapping of serial ENUMs</li>
        <li>JDK-8224549, CVE-2020-2757: Less Blocking Array Queues</li>
        <li>JDK-8225603: Enhancement for big integers</li>
        <li>JDK-8227542: Manifest improved jar headers</li>
        <li>JDK-8231415, CVE-2020-2773: Better signatures in XML</li>
        <li>JDK-8233250: Better X11 rendering</li>
        <li>JDK-8233410: Better Build Scripting</li>
        <li>JDK-8234027: Better JCEKS key support</li>
        <li>JDK-8234408, CVE-2020-2781: Improve TLS session handling</li>
        <li>JDK-8234825, CVE-2020-2800: Better Headings for HTTP Servers</li>
        <li>JDK-8234841, CVE-2020-2803: Enhance buffering of byte buffers</li>
        <li>JDK-8235274, CVE-2020-2805: Enhance typing of methods</li>
        <li>JDK-8236201, CVE-2020-2830: Better Scanner conversions</li>
        <li>JDK-8238960: linux-i586 builds are inconsistent as the newly build jdk is not able to reserve enough space for object heap</li>
      </ul>

      <h3>Other changes</h3>
      <ul>
        <li>JDK-8005819: Support cross-realm MSSFU</li>
        <li>JDK-8022263: use same Clang warnings on BSD as on Linux</li>
        <li>JDK-8038631: Create wrapper for awt.Robot with additional functionality</li>
        <li>JDK-8047212: runtime/ParallelClassLoading/bootstrap/random/inner-complex assert(ObjectSynchronizer::verify_objmon_isinpool(inf)) failed: monitor is invalid</li>
        <li>JDK-8055283: Expand ResourceHashtable with C_HEAP allocation, removal and some unit tests</li>
        <li>JDK-8068184: Fix for JDK-8032832 caused a deadlock</li>
        <li>JDK-8079693: Add support for ECDSA P-384 and P-521 curves to XML Signature</li>
        <li>JDK-8132130: some docs cleanup</li>
        <li>JDK-8135318: CMS wrong max_eden_size for check_gc_overhead_limit</li>
        <li>JDK-8144445: Maximum size checking in Marlin ArrayCache utility methods is not optimal</li>
        <li>JDK-8144446: Automate the Marlin crash test</li>
        <li>JDK-8144526: Remove Marlin logging use of deleted internal API</li>
        <li>JDK-8144630: Use PrivilegedAction to create Thread in Marlin RendererStats</li>
        <li>JDK-8144654: Improve Marlin logging</li>
        <li>JDK-8144718: Pisces / Marlin Strokers may generate invalid curves with huge coordinates and round joins</li>
        <li>JDK-8166976: TestCipherPBECons has wrong @run line</li>
        <li>JDK-8167409: Invalid value passed to critical JNI function</li>
        <li>JDK-8181872: C1: possible overflow when strength reducing integer multiply by constant</li>
        <li>JDK-8187078: -XX:+VerifyOops finds numerous problems when running JPRT</li>
        <li>JDK-8191227: issues with unsafe handle resolution</li>
        <li>JDK-8197441: Signature#initSign/initVerify for an invalid private/public key fails with ClassCastException for SunPKCS11 provider</li>
        <li>JDK-8204152: SignedObject throws NullPointerException for null keys with an initialized Signature object</li>
        <li>JDK-8215756: Memory leaks in the AWT on macOS</li>
        <li>JDK-8216472: (se) Stack overflow during selection operation leads to crash (win)</li>
        <li>JDK-8219244: NMT: Change ThreadSafepointState's allocation type from mtInternal to mtThread</li>
        <li>JDK-8219597: (bf) Heap buffer state changes could provoke unexpected exceptions</li>
        <li>JDK-8225128: Add exception for expiring DocuSign root to VerifyCACerts test</li>
        <li>JDK-8225130: Add exception for expiring Comodo roots to VerifyCACerts test</li>
        <li>JDK-8229022: BufferedReader performance can be improved by using StringBuilder</li>
        <li>JDK-8229345: Memory leak due to vtable stubs not being shared on SPARC</li>
        <li>JDK-8229872: (fs) Increase buffer size used with getmntent</li>
        <li>JDK-8230235: Rendering HTML with empty img attribute and documentBaseKey cause Exception</li>
        <li>JDK-8231430: C2: Memory stomp in max_array_length() for T_ILLEGAL type</li>
        <li>JDK-8235744: PIT: test/jdk/javax/swing/text/html/TestJLabelWithHTMLText.java times out in linux-x64</li>
        <li>JDK-8235904: Infinite loop when rendering huge lines</li>
        <li>JDK-8236179: C1 register allocation error with T_ADDRESS</li>
        <li>JDK-8237368: Problem with NullPointerException in RMI TCPEndpoint.read</li>
        <li>JDK-8240521: Revert backport of 8231584: Deadlock with ClassLoader.findLibrary and System.loadLibrary call</li>
        <li>JDK-8241296: Segfault in JNIHandleBlock::oops_do()</li>
        <li>JDK-8241307: Marlin renderer should not be the default in 8u252</li>
      </ul>
    </div>

    <div style="margin-top: 3rem;">
      <a href="./supported_platforms.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Supported Platforms&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/adoptium/temurin-build/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
       
    </div>--}}
  </div>

</main>

{{> footer }}
