{{> header title='Supported Platforms | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<!-- TODO Page uses support style sheet, may need to have its own -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Supported Platforms</h1>
  <h3>This section lists the operating systems that are supported with the latest release of Eclipse Temurin.</h3>

  <div class="support-matrix">

    <table>
      <colgroup>
        <col style="width: 33.3333%;">
          <col>
            <col>
              <col>
                <col>
      </colgroup>
      <tbody>
        <tr>
          <th rowspan="2">
            <p>Operating System</p></th>
          <th colspan="8">
            <p>Eclipse Temurin Version</p></th>
        </tr>
        <tr>
          <th><p>8</p></th>
          <th><p>11</p></th>
          <th><p>16</p></th>
          <th><p>17</p></th>
        </tr>
        <tr>
          <th colspan="5"><p>Windows (x64/x86)</p></th>
        </tr>
        <tr>
          <td><p>Windows Server 2022</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Windows Server 2019</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Windows Server 2016</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Windows Server 2012 R2</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Windows 11</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Windows 10</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Windows 8.1</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <th colspan="5"><p>Linux (x64)</p></th>
        </tr>
        <tr>
          <td><p>SUSE Linux Enterprise Server (SLES) 12</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>RHEL / CentOS 8.x</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>RHEL / CentOS 7.x</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Ubuntu 20.04</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Ubuntu 18.04</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Alpine Linux 3.5 or later</p></td>
          <td><p>n/a</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <th colspan="5"><p>Linux (ARM 64-bit)</p></th>
        </tr>
        <tr>
          <td><p>RHEL / CentOS 8.x</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>RHEL / CentOS 7.x</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Ubuntu 20.04</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <th colspan="5"><p>Linux (ARM 32-bit Hard-Float)</p></th>
        </tr>
        <tr>
          <td><p>RHEL / CentOS 8.x</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>RHEL / CentOS 7.x</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Ubuntu 20.04</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <th colspan="5"><p>Linux (PowerPC 64-bit Little Endian)</p></th>
        </tr>
        <tr>
          <td><p>RHEL / CentOS 8.x</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>RHEL / CentOS 7.x</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Ubuntu 20.04</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <th colspan="5"><p>Linux (s390x)</p></th>
        </tr>
        <tr>
          <td><p>RHEL 8.x</p></td>
          <td><p>n/a</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>RHEL / ClefOS 7.x</p></td>
          <td>
           <p>n/a</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>Ubuntu 20.04</p></td>
          <td><p>n/a</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <th colspan="5"><p>macOS (x64)</p></th>
        </tr>
        <tr>
          <td><p>macOS 11</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>macOS 10.15</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>macOS 10.14</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <th colspan="5"><p>macOS (Apple Silicon)</p></th>
        </tr>
        <tr>
          <td><p>macOS 11</p></td>
          <td><p>n/a</p></td>
          <td><p>n/a</p></td>
          <td><p>n/a</p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <th colspan="5"><p>Solaris (x64 and Sparc)</p></th>
        </tr>
        <tr>
          <td><p>Solaris 11</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p>n/a</p></td>
          <td><p>n/a</p></td>
          <td><p>n/a</p></td>
        </tr>
        <tr>
          <td><p>Solaris 10</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p>n/a</p></td>
          <td><p>n/a</p></td>
          <td><p>n/a</p></td>
        </tr>
        <tr>
          <th colspan="5"><p>AIX (PowerPC 64-bit Big Endian)</p></th>
        </tr>
        <tr>
          <td><p>AIX 7.2</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>AIX 7.1 TL5 SP5</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
        <tr>
          <td><p>AIX 7.1 TL4</p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
          <td><p><span class="supported">✔</span></p></td>
        </tr>
      </tbody>
    </table>

    <div style="margin-top: 3rem;">
      <a href="./support.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Support&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/adoptium/adoptium-support/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>
</main>

{{> footer }}
