{{> header title='Supported Platforms | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<!-- TODO Page uses support style sheet, may need to have its own -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Supported Platforms</h1>
  <h3>This section lists the operating systems that are supported with the latest release of Eclipse Temurin.</h3>

  <div class="support">

    <table>
    <colgroup>
    <col style="width: 33.3333%;">
    <col>
    <col>
    <col>
    <col>
    </colgroup>
    <tbody>
    <tr>
    <th class="tableblock halign-center valign-middle" rowspan="2"><p class="tableblock">Operating System</p></th>
    <th class="tableblock halign-center valign-middle" colspan="8"><p class="tableblock">Eclipse Temurin Version</p></th>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-middle"><p class="tableblock">8</p></th>
    <th class="tableblock halign-center valign-middle"><p class="tableblock">11</p></th>
    <th class="tableblock halign-center valign-middle"><p class="tableblock">16</p></th>
    <th class="tableblock halign-center valign-middle"><p class="tableblock">17</p></th>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">Windows (x64/x86)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Windows Server 2019</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Windows Server 2016</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Windows Server 2012 R2</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Windows Client 10</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Windows Client 8.1</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">Linux (x64)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">RHEL 8.x</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">RHEL 7.x</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">SUSE Linux Enterprise Server (SLES) 12</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">CentOS 8.x</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">CentOS 7.x</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Ubuntu 20.04</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Ubuntu 18.04</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Alpine Linux 3.5 or later</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">Linux (ARM 64-bit)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">CentOS 8.x</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">CentOS 7.x</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Ubuntu 20.04</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">Linux (ARM 32-bit Hard-Float)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">CentOS 8.x</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">CentOS 7.x</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Ubuntu 20.04</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">Linux (PowerPC 64-bit Little Endian)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Linux with GLIBC 2.17 or higher</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">Linux (s390x)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Linux with GLIBC 2.17 or higher</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">macOS (x64)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">macOS 11</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">macOS 10.15</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">macOS 10.14</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">macOS (Apple Silicon)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">macOS 11</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">Solaris (x64 and Sparc)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Solaris 11</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">Solaris 10</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock">n/a</p></td>
    </tr>
    <tr>
    <th class="tableblock halign-center valign-top" colspan="9"><p class="tableblock">AIX (PowerPC 64-bit Big Endian)</p></th>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">AIX 7.2</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">AIX 7.1 TL5 SP5</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    <tr>
    <td class="tableblock halign-left valign-top"><p class="tableblock">AIX 7.1 TL4</p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    <td class="tableblock halign-center valign-middle"><p class="tableblock"><span style="color: #3e8ebd;font-size: 1.5rem;">✔</span></p></td>
    </tr>
    </tbody>
    </table>

    <div style="margin-top: 3rem;">
      <a href="./support.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Support&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/adoptium/adoptium-support/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>
</main>

{{> footer }}
