<div class="callout">
<p>Please be aware that this archive contains old releases and intermediate builds created as a
    development step towards a <a href="./releases.html">full release</a>. Using old, superseded, or otherwise unsupported
    builds is not recommended. Intermediate builds are ephemeral, and may disappear in the future.</p>
    <!-- Required notice follows. Do not remove or modify. -->
<p>The following notice applies to intermediate builds:<br/>
    "This is an intermediate build made available for testing purposes only. The code is untested
    and presumed incompatible with the Java SE specification. You should not deploy or write to
    this code, but instead use the tested and certified Java SE compatible version of the code
    that is available at <a href="./releases.html">adoptium.net</a>. Redistribution
    of any Intermediate Build must retain this notice."</p>
</div>