main .support {
  max-width: 80rem;
  margin: 0 auto;
  width: 80%;
}

main .support h2 {
  text-align: center;
}

.support th {
  background-color: #aeadad97;
  color: #14003c;
}

.support th, .support td {
    border-bottom: 1px solid #d9dbe0;
    padding: 0;
    margin: 0;
}

.support p {
  line-height: 0.5em !important;
}

.support table {
  width: 100%;
  border-spacing: 0;
}

.support tr {
  margin: 0;
  display: table-row;
  padding: 0;
}

.support tr:hover {
  background-color: #bcd4e6;
}
